.helpDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.helpDescription span {
  color: #bedbb0;
}

.helpButtonBlock {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.helpButtonBlock p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  margin-left: 8px;
}
