.columnsWrapper {
  display: flex;
  gap: 18px;
  overflow: scroll;
}

.screenHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 14px 24px 14px 0px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 8px;
  }
}

.columnWrapper {
  width: 100%;
  min-width: 334px;
  max-width: 334px;
  // 
  overflow: auto;
}

.columnTitleBlock {
  background: #121212;
  border-radius: 8px;
  height: 56px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.columnTitleBlock h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 14px;

  li {
    background: #121212;
    border-radius: 8px;
    padding: 14px 20px 14px 24px;
  }
}

.controlBtnsWrapper {
  display: flex;
  gap: 10px;
}
